/* line 2, sass/ie8.scss */
.b-main-info_portrait img {
  border: none;
}

/* line 7, sass/ie8.scss */
.modal {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8000000, endColorstr=#c8000000);
}

/* line 11, sass/ie8.scss */
.upload input[type=file] {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  font-size: 600px;
  z-index: 2;
  cursor: pointer;
}

/* line 26, sass/ie8.scss */
.b-form-modal_fn-upload {
  width: 247px;
}

/* line 31, sass/ie8.scss */
.b-contacts_items-item:first-child {
  background: #41b9d4;
}
/* line 32, sass/ie8.scss */
.b-contacts_items-item:first-child .ico {
  background: url("img/emailico.png");
}
/* line 37, sass/ie8.scss */
.b-contacts_items-item:first-child + * {
  background: #48cbe8;
}
/* line 38, sass/ie8.scss */
.b-contacts_items-item:first-child + * .ico {
  background: url("img/phoneico.png");
}
/* line 43, sass/ie8.scss */
.b-contacts_items-item:first-child + * + * {
  background: #51daf8;
}
/* line 44, sass/ie8.scss */
.b-contacts_items-item:first-child + * + * .ico {
  background: url("img/skypeico.png");
}

/* line 51, sass/ie8.scss */
.ch-item:hover .ch-info {
  display: block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#96000000, endColorstr=#96000000);
}

/* line 56, sass/ie8.scss */
.ch-info {
  display: none;
}

/* line 60, sass/ie8.scss */
.b-main-info_tags-list_tag {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3ba8c0, endColorstr=#ff2e8ca2);
  display: inline-block;
  overflow: auto;
  padding: 0 9px 0 9px;
  line-height: 25px;
}

/* line 68, sass/ie8.scss */
.b-feedback_items-buttons-submit, .b-feedback_items-buttons-clear {
  margin-top: 18px;
}

/* line 72, sass/ie8.scss */
.b-admin_items-item {
  position: relative;
}

/* line 76, sass/ie8.scss */
.password-placeholder {
  position: absolute;
  color: #48cbe8 !important;
  font-family: fira_sanslight !important;
  font-size: 17px !important;
  left: -142px;
  top: 73px;
}

/* line 85, sass/ie8.scss */
.information {
  display: none;
}
