@import url(/css/font/fira/fira.css);
@import url(/css/font/Proxima-Nova/proxima.css);
@import url(/css/font/HelveticaNeue/helveticaneue.css);
@import url(/css/normolize.css);
/* line 2, sass/_common.scss */
html, body {
  height: 100%;
}

/* line 6, sass/_common.scss */
ul {
  list-style: none;
}

/* line 10, sass/_common.scss */
h1 {
  font-family: fira_sansbook;
  font-size: 27px;
}

/* line 15, sass/_common.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 21, sass/_common.scss */
.clearfix:after {
  clear: both;
}

/* line 25, sass/_common.scss */
.clearfix {
  *zoom: 1;
}

/* line 29, sass/_common.scss */
.left {
  float: left;
}

/* line 33, sass/_common.scss */
.right {
  float: right;
}

/* line 39, sass/_common.scss */
.error {
  background: #fad2d1 !important;
  border-color: #f97e76 !important;
}

/* line 44, sass/_common.scss */
.relative {
  position: relative;
}

/* line 48, sass/_common.scss */
.wrapper {
  background: url(img/comppattern2.png);
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

/* line 55, sass/_common.scss */
.i-menu {
  display: none;
  background: url("img/menuico.png");
  width: 25px;
  height: 21px;
  cursor: pointer;
}

/* line 95, sass/_common.scss */
.arrow {
  border-color: transparent;
  border-style: solid;
}

/* line 128, sass/_common.scss */
.b-tooltip {
  display: inline;
  position: fixed;
  right: 10px;
  z-index: 20000;
}

/* line 135, sass/_common.scss */
.b-tooltip_arrow_l {
  float: left;
  margin-top: 7px;
}
/* line 103, sass/_common.scss */
.b-tooltip_arrow_l .arrow {
  border-right-color: #f97e76;
  border-width: 5px 7px 5px 0;
}

/* line 139, sass/_common.scss */
.b-tooltip_arrow_r {
  float: left;
  margin-top: 7px;
}
/* line 89, sass/_common.scss */
.b-tooltip_arrow_r .arrow {
  border-left-color: #f97e76;
  border-width: 5px 0 5px 7px;
}

/* line 143, sass/_common.scss */
.b-tooltip_arrow_d {
  margin: 0 auto;
  width: 14px;
}
/* line 112, sass/_common.scss */
.b-tooltip_arrow_d .arrow {
  float: left;
  border-top-color: #f97e76;
  border-width: 7px 5px 0 5px;
}

/* line 147, sass/_common.scss */
.b-tooltip_text {
  float: left;
  background: #f97e76;
  color: white;
  padding: 2px 15px;
  font-family: fira_sansbook;
  font-size: 13px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 4, sass/_about.scss */
.fs15 {
  font-family: fira_sansbook;
  font-size: 15px;
}

/* line 9, sass/_about.scss */
.padding-left {
  padding-left: 17px;
}

/* line 13, sass/_about.scss */
.b-main-info, .b-experience, .b-education {
  background: #eff3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-bottom: 17px;
}
/* line 192, sass/_common.scss */
.b-main-info:after, .b-experience:after, .b-education:after {
  display: block;
  clear: both;
  content: ' ';
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

/* line 17, sass/_about.scss */
.b-main-info_title, .b-experience_title, .b-education_title, .b-works_title {
  width: 320px;
  margin: 0;
  margin-bottom: 16px;
  color: #3ba8c0;
  font-weight: normal;
  padding: 14px 0px 12px 20px;
  border-bottom: 2px solid #3ba8c0;
}

/* line 27, sass/_about.scss */
.b-main-info_portrait {
  padding-left: 20px;
}
/* line 29, sass/_about.scss */
.b-main-info_portrait img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #3ba8c0;
  display: block;
  width: 190px;
  height: 190px;
}

/* line 38, sass/_about.scss */
.b-main-info_wrapper {
  font-family: fira_sansmedium;
  font-size: 17px;
  color: #58697a;
  padding-left: 39px;
}

/* line 45, sass/_about.scss */
.b-main-info_info {
  padding: 0;
  margin: 0;
}

/* line 50, sass/_about.scss */
.b-main-info_info-item {
  margin-bottom: 13px;
}

/* line 54, sass/_about.scss */
.b-main-info_tags {
  margin-top: 12px;
}

/* line 58, sass/_about.scss */
.b-main-info_tags-list {
  width: 200px;
  margin-left: 21px;
  margin-top: 0;
}

/* line 64, sass/_about.scss */
.b-main-info_tags-list_tag {
  background: -moz-linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
  background: -webkit-linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
  background: -o-linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
  background: -ms-linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
  background: linear-gradient(top, #3ba8c0 0%, #3ba8c0 50%, #2e8ca2 50%, #2e8ca2 100%);
  color: white;
  padding: 2px 13px;
  font-size: 14px;
  font-family: proximacond_semibold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
}

/* line 82, sass/_about.scss */
.b-experience, .b-education {
  margin-top: 25px;
}

/* line 87, sass/_about.scss */
.b-experience_title, .b-education_title {
  width: 189px;
  margin-bottom: 35px;
}

/* line 93, sass/_about.scss */
.b-experience-items, .b-education_items {
  font-family: fira_sansbook;
  display: block;
  padding-left: 65px;
  margin: 0;
}

/* line 100, sass/_about.scss */
.b-experience-items-item, .b-education_items-item {
  height: 35px;
  margin-top: 35px;
}
/* line 103, sass/_about.scss */
.b-experience-items-item .wrapico, .b-education_items-item .wrapico {
  width: 41px;
}
/* line 106, sass/_about.scss */
.b-experience-items-item .ico, .b-education_items-item .ico {
  margin: 0 auto;
  width: 36px;
  height: 34px;
  background: url("img/bagico.png");
}
/* line 112, sass/_about.scss */
.b-experience-items-item:first-child, .b-education_items-item:first-child {
  margin-top: 0;
}

/* line 117, sass/_about.scss */
.b-experience-items-item-desc, .b-education_items-item-desc {
  margin-left: 26px;
  margin-top: -5px;
}
/* line 120, sass/_about.scss */
.b-experience-items-item-desc h6, .b-education_items-item-desc h6 {
  font-size: 17px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  height: 20px;
}
/* line 127, sass/_about.scss */
.b-experience-items-item-desc span, .b-education_items-item-desc span {
  font-family: fira_sanslight;
  font-size: 15px;
  line-height: 15px;
}

/* line 140, sass/_about.scss */
.b-education_title {
  width: 194px;
}

/* line 151, sass/_about.scss */
.b-education_items-item .ico {
  width: 41px;
  height: 23px;
  background: url("img/educico.png");
}
/* line 156, sass/_about.scss */
.b-education_items-item .ico2 {
  margin: 0 auto;
  width: 26px;
  height: 32px;
  background: url("img/kursico.png");
}

/* line 1, sass/_works.scss */
.b-works {
  background: #eff3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-bottom: 17px;
  padding: 0;
}
/* line 192, sass/_common.scss */
.b-works:after {
  display: block;
  clear: both;
  content: ' ';
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

/* line 6, sass/_works.scss */
.items-grid {
  float: left;
}

/* line 10, sass/_works.scss */
.row {
  margin-bottom: 25px;
}

/* line 14, sass/_works.scss */
.row::after {
  display: block;
  content: ' ';
  height: 0;
  visibility: hidden;
  clear: both;
}

/* line 29, sass/_works.scss */
.items-grid.col-1 {
  width: 28.67%;
  margin: 0 2.33% 54px 2.33%;
}

/* line 34, sass/_works.scss */
.b-works_title {
  width: 182px;
  margin-bottom: 34px;
}

/* line 40, sass/_works.scss */
.b-works_items {
  padding: 0 5px 0 5px;
}

/* line 44, sass/_works.scss */
.b-works_items-item {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: fira_sanslight;
}
/* line 45, sass/_works.scss */
.b-works_items-item img {
  display: block;
  border: 3px solid #3ba8c0;
  width: 181px;
  height: 127px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 59, sass/_works.scss */
.b-works_items-item_url {
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #3ba8c0;
}

/* line 67, sass/_works.scss */
.b-works_items-item_desc {
  height: 33px;
  font-size: 15px;
  color: #4a545d;
  overflow: hidden;
  line-height: 15px;
}

/* line 76, sass/_works.scss */
.b-works_items-item_add a {
  display: block;
  width: 186px;
  height: 134px;
  background: url("img/workico.png") no-repeat;
  background-position: center 34px;
  text-align: center;
  font-family: fira_sanslight;
  font-size: 13px;
  border: 1px dashed #3ba8c0;
  color: #3ba8c0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  padding-top: 76px;
}

/* line 99, sass/_works.scss */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(88, 105, 122, 0.75);
  z-index: 10000;
  display: none;
}

/* line 111, sass/_works.scss */
.modal.add_project .vertical-align {
  width: 362px;
  margin: 0 auto;
}

/* line 117, sass/_works.scss */
.b-form-modal {
  width: 362px;
  height: 483px;
  -webkit-border-radius: 4px/7px;
  -moz-border-radius: 4px/7px;
  -ms-border-radius: 4px/7px;
  -o-border-radius: 4px/7px;
  border-radius: 4px/7px;
  background-color: #eff3f7;
  -webkit-box-shadow: 0 6px 12px 1px rgba(13, 16, 7, 0.35);
  -moz-box-shadow: 0 6px 12px 1px rgba(13, 16, 7, 0.35);
  box-shadow: 0 6px 12px 1px rgba(13, 16, 7, 0.35);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 125, sass/_works.scss */
.b-form-modal label {
  padding-left: 21px;
  display: block;
  font-family: fira_sansbook;
  font-size: 17px;
  color: #959aa8;
}

/* line 140, sass/_works.scss */
.modal:target {
  display: block;
}

/* line 144, sass/_works.scss */
.b-form-modal_btn-close {
  display: block;
  height: 25px;
  width: 25px;
  background: url("img/closeico.png");
  position: absolute;
  right: 12px;
  top: 10px;
}

/* line 154, sass/_works.scss */
.b-form-modal_title {
  font-family: fira_sansregular;
  font-size: 25px;
  color: white;
  padding: 6px 0 7px 12px;
  height: 31px;
  background: #48cbe8;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

/* line 164, sass/_works.scss */
.b-form-modal_title-underline {
  height: 9px;
  background: #67dffa;
}

/* line 169, sass/_works.scss */
.b-form-modal_inputs-input-group {
  margin-top: 8px;
}

/* line 175, sass/_works.scss */
.b-form-modal_inputs-edit, .b-form-modal_fn-upload {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #48cbe8;
  color: #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 0 auto;
  width: 300px;
  height: 37px;
  line-height: 39px;
}

/* line 183, sass/_works.scss */
.b-form-modal_inputs-ta {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #48cbe8;
  color: #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 0 auto;
  width: 300px;
  height: 91px;
  padding: 13px 9px 5px 9px;
}

/* line 191, sass/_works.scss */
.upload {
  margin: 0 auto;
  width: 320px;
  height: 41px;
  position: relative;
}

/* line 198, sass/_works.scss */
.b-form-modal_fn-upload {
  float: left;
  width: 249px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border-right: none;
  padding-top: 1px;
  padding-bottom: 1px;
  background: white;
}

/* line 209, sass/_works.scss */
.btn-upload {
  height: 41px;
  width: 52px;
  border: none;
  background: url("img/downloadico.png");
  float: left;
  display: block;
}

/* line 218, sass/_works.scss */
.b-form-modal_inputs-upload {
  cursor: pointer;
  height: 37px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
}

/* line 228, sass/_works.scss */
.b-form-modal_btn-submit {
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: fira_sansbook;
  font-size: 19px;
  margin: 10px auto 0;
  display: block;
  background: #48cbe8;
  border-bottom: 2px solid #3ba8c0;
  border-top: 2px solid #48cbe8;
  width: 139px;
  height: 33px;
}
/* line 179, sass/_common.scss */
.b-form-modal_btn-submit:active {
  border-top: 2px solid #3ba8c0 !important;
}
/* line 182, sass/_common.scss */
.b-form-modal_btn-submit:hover {
  border-color: #48cbe8;
}

/* line 237, sass/_works.scss */
.modal.sc .vertical-align {
  width: 349px;
  margin: 0 auto;
  background: red;
}

/* line 244, sass/_works.scss */
.b-success {
  padding: 15px;
  background: white;
  width: 349px;
  height: 61px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 259, sass/_works.scss */
.b-success_content {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #49bb7b;
  background: #b8e1ce;
  font-family: fira_sansbook;
  color: #49bb7b;
  padding: 8px;
  position: relative;
}
/* line 271, sass/_works.scss */
.b-success_content h1 {
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 28px;
}
/* line 277, sass/_works.scss */
.b-success_content p {
  margin: 0;
  font-size: 15px;
  line-height: 18px;
}
/* line 282, sass/_works.scss */
.b-success_content img {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* line 290, sass/_works.scss */
.ch-img {
  background-size: cover;
}

/* line 1, sass/_feedback.scss */
.b-feedback {
  background: #eff3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-bottom: 17px;
}
/* line 192, sass/_common.scss */
.b-feedback:after {
  display: block;
  clear: both;
  content: ' ';
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
/* line 3, sass/_feedback.scss */
.b-feedback .error_msg {
  width: 402px;
  margin: 15px auto;
  padding: 9px;
  border: 1px solid #f97e76;
  color: #f97e76;
  font-family: fira_sansbook;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 209, sass/_common.scss */
.b-feedback .error_msg h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
}
/* line 215, sass/_common.scss */
.b-feedback .error_msg p {
  font-size: 15px;
  margin: 0;
}

/* line 9, sass/_feedback.scss */
.feedback-header {
  margin-bottom: 40px;
}

/* line 13, sass/_feedback.scss */
.b-feedback_title {
  display: block;
  background: #48cbe8;
  font-family: fira_sansbook;
  font-weight: normal;
  font-size: 27px;
  color: white;
  padding: 0;
  width: 100%;
  height: 121px;
  line-height: 121px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

/* line 32, sass/_feedback.scss */
.b-feedback_title-underline {
  height: 17px;
  background: #67dffa;
}

/* line 37, sass/_feedback.scss */
.b-feedback_items {
  width: 402px;
  margin: 0 auto;
}
/* line 40, sass/_feedback.scss */
.b-feedback_items label {
  color: #959aa8;
  font-family: fira_sanslight;
  font-size: 17px;
}
/* line 45, sass/_feedback.scss */
.b-feedback_items .row {
  margin-bottom: 12px;
}
/* line 47, sass/_feedback.scss */
.b-feedback_items .row.captcha {
  margin-bottom: 33px;
}

/* line 53, sass/_feedback.scss */
.b-feedback_items-item {
  margin-left: 18px;
}
/* line 55, sass/_feedback.scss */
.row .b-feedback_items-item:first-child {
  margin-left: 0;
}
/* line 58, sass/_feedback.scss */
.b-feedback_items-item.captcha {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #48cbe8;
  color: #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
  width: 189px;
  height: 77px;
  padding: 0;
  margin-left: 0;
}
/* line 65, sass/_feedback.scss */
.b-feedback_items-item.captcha img {
  display: block;
  width: 189px;
  height: 77px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 73, sass/_feedback.scss */
.b-feedback_items-item.confirm {
  height: 77px;
  position: relative;
}
/* line 76, sass/_feedback.scss */
.b-feedback_items-item.confirm .b-feedback_items-item_input {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 172px;
  height: 30px;
  line-height: 30px;
}

/* line 90, sass/_feedback.scss */
.b-feedback_items-item_input {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #48cbe8;
  color: #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
  width: 172px;
  height: 37px;
  line-height: 37px;
}

/* line 98, sass/_feedback.scss */
.b-feedback_items-item-text .b-feedback_items-item_input {
  width: 383px;
  height: 178px;
}

/* line 104, sass/_feedback.scss */
.b-feedback_items-buttons-submit {
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: fira_sansbook;
  font-size: 19px;
  margin: 10px auto 0;
  display: block;
  background: #48cbe8;
  border-bottom: 2px solid #3ba8c0;
  border-top: 2px solid #48cbe8;
  width: 139px;
  height: 31px;
  margin: 0;
}
/* line 179, sass/_common.scss */
.b-feedback_items-buttons-submit:active {
  border-top: 2px solid #3ba8c0 !important;
}
/* line 182, sass/_common.scss */
.b-feedback_items-buttons-submit:hover {
  border-color: #48cbe8;
}

/* line 114, sass/_feedback.scss */
.b-feedback_items-buttons-clear {
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: fira_sansbook;
  font-size: 19px;
  margin: 10px auto 0;
  display: block;
  margin: 0;
  width: 139px;
  height: 31px;
  background: #849db5;
  border-bottom: 2px solid #687b8f;
  border-top: 2px solid #849db5;
}
/* line 123, sass/_feedback.scss */
.b-feedback_items-buttons-clear:active {
  border-top: 2px solid #687b8f !important;
}
/* line 126, sass/_feedback.scss */
.b-feedback_items-buttons-clear:hover {
  border-color: #849db5;
}

/* line 131, sass/_feedback.scss */
.b-feedback {
  position: relative;
}

/* line 136, sass/_feedback.scss */
.page-feedback .b-tooltip {
  position: absolute;
}

/* line 1, sass/_admin.scss */
.b-admin {
  width: 590px;
  height: 484px;
  background-color: #eff3f7;
  -webkit-box-shadow: 0 4px 7px rgba(13, 16, 7, 0.29);
  -moz-box-shadow: 0 4px 7px rgba(13, 16, 7, 0.29);
  box-shadow: 0 4px 7px rgba(13, 16, 7, 0.29);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 17, sass/_admin.scss */
.b-admin_title {
  display: block;
  background: #48cbe8;
  font-family: fira_sansbook;
  font-weight: normal;
  font-size: 40px;
  color: white;
  padding: 0;
  width: 100%;
  height: 92px;
  line-height: 92px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

/* line 34, sass/_admin.scss */
.b-admin_title-underline {
  height: 15px;
  background: #67dffa;
}

/* line 39, sass/_admin.scss */
.b-admin_items {
  width: 424px;
  margin: 14px auto;
}
/* line 42, sass/_admin.scss */
.b-admin_items label {
  width: 100%;
  display: block;
  color: #959aa8;
  font-family: fira_sanslight;
  font-size: 36px;
  text-align: center;
}

/* line 52, sass/_admin.scss */
.b-admin_items-item_input {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #48cbe8;
  color: #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
  height: 58px;
  width: 404px;
  display: block;
  font-size: 17px;
  line-height: 58px;
}

/* line 61, sass/_admin.scss */
.b-admin_submit {
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: fira_sansbook;
  font-size: 19px;
  margin: 10px auto 0;
  display: block;
  background: #48cbe8;
  border-bottom: 2px solid #3ba8c0;
  border-top: 2px solid #48cbe8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  width: 214px;
  height: 50px;
  margin: 34px auto;
}
/* line 179, sass/_common.scss */
.b-admin_submit:active {
  border-top: 2px solid #3ba8c0 !important;
}
/* line 182, sass/_common.scss */
.b-admin_submit:hover {
  border-color: #48cbe8;
}

/* line 3, sass/_hover.scss */
.bl {
  width: 181px;
  height: 127px;
  display: inline-block;
}

/* line 9, sass/_hover.scss */
.ch-item {
  border: 2px solid #3ba8c0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 26, sass/_hover.scss */
.ch-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: inherit;
  height: inherit;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  position: relative;
}
/* line 52, sass/_hover.scss */
.ch-info span {
  font-family: fira_sanslight;
  display: block;
  height: 30px;
  line-height: 30px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  border: 1px solid #ffffff;
  width: 70%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 70, sass/_hover.scss */
.ch-item:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 75, sass/_hover.scss */
.ch-item:hover .ch-info {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* line 1, sass/_hover2.scss */
.no-ie .hover {
  vertical-align: top;
  position: relative;
  font-family: Tahoma, Arial;
  -webkit-perspective: 4000px;
  -moz-perspective: 4000px;
  -ms-perspective: 4000px;
  -o-perspective: 4000px;
}

/* line 12, sass/_hover2.scss */
.no-ie .item {
  min-height: 73px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .6s;
  -moz-transition: -moz-transform .6s;
  -ms-transition: -ms-transform .6s;
  -o-transition: -o-transform .6s;
  transition: transform .6s;
}

/* line 26, sass/_hover2.scss */
.no-ie .hover .item:hover {
  -webkit-transform: translateZ(-30px) rotateX(95deg);
  -moz-transform: translateZ(-30px) rotateX(95deg);
  -ms-transform: translateZ(-30px) rotateX(95deg);
  -o-transform: translateZ(-30px) rotateX(95deg);
  transform: translateZ(-30px) rotateX(95deg);
}

/* line 34, sass/_hover2.scss */
.no-ie .item .caption {
  display: block;
  position: absolute;
  top: 0;
  -webkit-transform: translateZ(30px);
  -moz-transform: translateZ(30px);
  -ms-transform: translateZ(30px);
  -o-transform: translateZ(30px);
  transform: translateZ(30px);
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

/* line 50, sass/_hover2.scss */
.no-ie .item .information {
  display: none;
  position: absolute;
  top: 2px;
  min-height: 48px;
  width: 222px;
  text-align: left;
  padding: 10px;
  box-shadow: none;
  background: #ecf1f4;
  background: -moz-linear-gradient(top, #ecf1f4 0%, #becad9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ecf1f4), color-stop(100%, #becad9));
  background: -webkit-linear-gradient(top, #ecf1f4 0%, #becad9 100%);
  background: -o-linear-gradient(top, #ecf1f4 0%, #becad9 100%);
  background: -ms-linear-gradient(top, #ecf1f4 0%, #becad9 100%);
  background: linear-gradient(to bottom, #ecf1f4 0%, #becad9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf1f4', endColorstr='#becad9', GradientType=0);
  -webkit-transform: rotateX(-90deg) translateZ(30px);
  -moz-transform: rotateX(-90deg) translateZ(30px);
  -ms-transform: rotateX(-90deg) translateZ(30px);
  -o-transform: rotateX(-90deg) translateZ(30px);
  transform: rotateX(-90deg) translateZ(30px);
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}
/* line 78, sass/_hover2.scss */
.no-ie .item .information a {
  height: 100%;
  width: 100%;
  display: block;
}

/* line 15, sass/style.scss */
.wrapper {
  margin: 0 auto -78px;
}

/* line 19, sass/style.scss */
.b-head {
  background: #eff3f7;
  height: 115px;
  margin-bottom: 40px;
}

/* line 25, sass/style.scss */
.b-head-wrapper {
  height: 100%;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

/* line 32, sass/style.scss */
.b-head_logo {
  position: absolute;
  left: 7%;
  top: 27px;
}

/* line 38, sass/style.scss */
.b-head_logo-element1 {
  margin-top: 23px;
  border-bottom: #6f727e solid 1px;
}

/* line 43, sass/style.scss */
.b-head_logo-element2 {
  font-size: 14px;
  font-family: helveticaneue_thin;
  margin-top: 5px;
  margin-left: 1px;
  font-weight: normal;
}

/* line 51, sass/style.scss */
.b-head_socials-wrapper {
  position: absolute;
  top: 33px;
  right: 7.4%;
}

/* line 57, sass/style.scss */
.b-head_socials {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 64, sass/style.scss */
.b-head_socials-item {
  display: inline-block;
  margin-left: 24px;
}
/* line 67, sass/style.scss */
.b-head_socials-item:first-child {
  margin-left: 0;
}

/* line 83, sass/style.scss */
.href_text {
  display: none;
}

/* line 87, sass/style.scss */
.b-head_socials-vk {
  display: inline-block;
  height: 46px;
  width: 46px;
  margin-left: 24px;
  cursor: pointer;
  background: url("img/socials-sptite.png");
}
/* line 78, sass/style.scss */
.b-head_socials-vk:first-child {
  margin-left: 0;
}
/* line 90, sass/style.scss */
.b-head_socials-vk:hover {
  background-position: -46px 0;
}

/* line 95, sass/style.scss */
.b-head_socials-twitter {
  display: inline-block;
  height: 46px;
  width: 46px;
  margin-left: 24px;
  cursor: pointer;
  background: url("img/socials-sptite.png");
  background-position: 0 -46px;
}
/* line 78, sass/style.scss */
.b-head_socials-twitter:first-child {
  margin-left: 0;
}
/* line 99, sass/style.scss */
.b-head_socials-twitter:hover {
  background-position: -46px -46px;
}

/* line 104, sass/style.scss */
.b-head_socials-facebook {
  display: inline-block;
  height: 46px;
  width: 46px;
  margin-left: 24px;
  cursor: pointer;
  background: url("img/socials-sptite.png");
  background-position: 0 -92px;
}
/* line 78, sass/style.scss */
.b-head_socials-facebook:first-child {
  margin-left: 0;
}
/* line 108, sass/style.scss */
.b-head_socials-facebook:hover {
  background-position: -46px -92px;
}

/* line 113, sass/style.scss */
.b-head_socials-github {
  display: inline-block;
  height: 46px;
  width: 46px;
  margin-left: 24px;
  cursor: pointer;
  background: url("img/socials-sptite.png");
  background-position: 0 -138px;
}
/* line 78, sass/style.scss */
.b-head_socials-github:first-child {
  margin-left: 0;
}
/* line 117, sass/style.scss */
.b-head_socials-github:hover {
  background-position: -46px -138px;
}

/* line 122, sass/style.scss */
.split-line {
  width: 100%;
  height: 3px;
  background: url("img/split.png") repeat-y;
  background-size: 100%;
}

/* line 130, sass/style.scss */
.container {
  width: 960px;
  margin: 0 auto 39px;
  overflow: hidden;
}

/* line 139, sass/style.scss */
.b-nav {
  font-family: fira_sansbook;
  width: 250px;
}
/* line 142, sass/style.scss */
.b-nav ul {
  margin: 0;
}
/* line 145, sass/style.scss */
.b-nav a {
  text-decoration: none;
}

/* line 150, sass/style.scss */
.nav-block_arrow_up {
  display: none;
}

/* line 154, sass/style.scss */
.b-menu {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #eff3f7;
}

/* line 162, sass/style.scss */
.b-menu_items {
  padding: 0;
}

/* line 166, sass/style.scss */
.b-menu_items-item {
  min-height: 73px;
  font-size: 21px;
  color: #fff;
}
/* line 171, sass/style.scss */
.b-menu_items-item .iwrapper {
  width: 242px;
  margin: 0 auto;
  border-top: 2px solid #3ba8c0;
}
/* line 177, sass/style.scss */
.b-menu_items-item .caption, .b-menu_items-item .no-ie .information {
  display: block;
  color: #959aa8;
  width: 202px;
  padding: 20px 18px 19px 20px;
  margin: 0 auto;
}
/* line 185, sass/style.scss */
.b-menu_items-item .item {
  display: block;
  width: 100%;
  margin: 0 auto;
}
/* line 191, sass/style.scss */
.b-menu_items-item a:hover {
  color: #3ba8c0;
}
/* line 195, sass/style.scss */
.b-menu_items-item:first-child .iwrapper {
  border-top: none;
}
/* line 199, sass/style.scss */
.b-menu_items-item.active {
  background-color: #3ba8c0;
}
/* line 201, sass/style.scss */
.b-menu_items-item.active .iwrapper {
  border-top: none;
  cursor: default;
  pointer-events: none;
}
/* line 206, sass/style.scss */
.b-menu_items-item.active .caption {
  color: #ffffff;
}
/* line 212, sass/style.scss */
.b-menu_items-item.noactive .iwrapper {
  border: none;
}
/* line 217, sass/style.scss */
.b-menu_items-item:first-child.active {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 220, sass/style.scss */
.b-menu_items-item:last-child.active {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* line 227, sass/style.scss */
.b-contacts {
  padding-top: 1px;
  margin-top: 22px;
}
/* line 230, sass/style.scss */
.b-contacts .b-contacts_items-item_caption {
  display: block;
  font-size: 21px;
  background: #3ba8c0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  font-weight: normal;
  margin: 0;
  color: #ffffff;
  height: 39px;
  line-height: 39px;
  padding-left: 20px;
}

/* line 244, sass/style.scss */
.b-contacts_items {
  padding: 0;
}

/* line 249, sass/style.scss */
.ico {
  float: left;
  width: 38px;
  height: 38px;
}

/* line 255, sass/style.scss */
.b-contacts_items-item {
  font-size: 17px;
  color: white;
  padding-left: 37px;
  height: 39px;
  line-height: 39px;
}
/* line 262, sass/style.scss */
.b-contacts_items-item a {
  color: white;
}
/* line 266, sass/style.scss */
.b-contacts_items-item a:hover {
  text-decoration: underline;
}
/* line 270, sass/style.scss */
.b-contacts_items-item:first-child {
  background: #41b9d4;
}
/* line 271, sass/style.scss */
.b-contacts_items-item:first-child .ico {
  background: url("img/emailico.png");
}
/* line 276, sass/style.scss */
.b-contacts_items-item:nth-child(2) {
  background: #48cbe8;
}
/* line 277, sass/style.scss */
.b-contacts_items-item:nth-child(2) .ico {
  background: url("img/phoneico.png");
}
/* line 282, sass/style.scss */
.b-contacts_items-item:last-child {
  background: #51daf8;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/* line 283, sass/style.scss */
.b-contacts_items-item:last-child .ico {
  background: url("img/skypeico.png");
}

/* line 293, sass/style.scss */
.b-content {
  margin-left: 6.25%;
  width: 650px;
}

/* line 298, sass/style.scss */
.footer-push {
  height: 78px;
}

/* line 304, sass/style.scss */
.b-footer {
  height: 78px;
  background: #eff3f7;
  position: relative;
}

/* line 310, sass/style.scss */
.b-mob_contacts {
  display: none;
}

/* line 314, sass/style.scss */
.b-mob_socials {
  display: none;
}

/* line 318, sass/style.scss */
.b-footer_body {
  padding-top: 1px;
}
/* line 320, sass/style.scss */
.b-footer_body p {
  font-family: fira_sanslight;
  font-size: 13px;
  width: 100%;
  text-align: center;
  margin: 30px auto 0;
}

/* line 329, sass/style.scss */
.lock {
  width: 20px;
  height: 32px;
  background: url("img/lock.png");
  position: absolute;
  top: 24px;
  left: 20%;
  cursor: pointer;
}

/* line 339, sass/style.scss */
.lock-close {
  background-position: 0;
}
/* line 341, sass/style.scss */
.lock-close:hover {
  background-position: -20px;
}

/* line 346, sass/style.scss */
.lock-open {
  background-position: -20px;
}
/* line 348, sass/style.scss */
.lock-open:hover {
  background-position: 0;
}

@media only screen and (min-width: 751px) and (max-width: 960px) {
  /* line 3, sass/_pl.scss */
  .b-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 1000;
  }
  /* line 9, sass/_pl.scss */
  .b-nav .b-contacts {
    display: none;
  }

  /* line 14, sass/_pl.scss */
  .b-head_logo {
    top: 35px;
    left: 4.43%;
  }

  /* line 19, sass/_pl.scss */
  .nav-block_arrow_up {
    display: block;
    position: absolute;
    float: left;
    right: 42px;
    top: -14px;
  }
  /* line 121, sass/_common.scss */
  .nav-block_arrow_up .arrow {
    border-bottom-color: #3ba8c0;
    border-width: 0 15px 14px 14px;
  }

  /* line 27, sass/_pl.scss */
  .b-menu {
    background-color: #fbfcfd;
    -webkit-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
    -moz-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
    box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
  }

  /* line 34, sass/_pl.scss */
  .container {
    width: 768px;
    margin-bottom: 28px;
  }

  /* line 39, sass/_pl.scss */
  .b-content {
    width: 700px;
    margin: 0 auto;
    float: none;
  }

  /* line 45, sass/_pl.scss */
  .b-mob_contacts {
    display: block;
    height: 46px;
  }

  /* line 50, sass/_pl.scss */
  .b-contacts_items {
    margin: 0;
  }

  /* line 54, sass/_pl.scss */
  .b-contacts_items-item {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 3px 0;
  }
  /* line 60, sass/_pl.scss */
  .b-contacts_items-item a {
    text-decoration: none;
  }
  /* line 63, sass/_pl.scss */
  .b-contacts_items-item:first-child {
    font-size: inherit;
    background: #41b9d4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 65, sass/_pl.scss */
  .b-contacts_items-item:first-child .ico {
    background: url("img/emailico.png");
  }
  /* line 71, sass/_pl.scss */
  .b-contacts_items-item:nth-child(2) {
    background: #48cbe8;
  }
  /* line 72, sass/_pl.scss */
  .b-contacts_items-item:nth-child(2) .ico {
    background: url("img/phoneico.png");
  }
  /* line 77, sass/_pl.scss */
  .b-contacts_items-item:last-child {
    background: #51daf8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 78, sass/_pl.scss */
  .b-contacts_items-item:last-child .ico {
    background: url("img/skypeico.png");
  }

  /* line 86, sass/_pl.scss */
  .split-line {
    height: 2px;
  }

  /* line 90, sass/_pl.scss */
  .nav-footer {
    margin-bottom: 31px;
  }

  /* line 94, sass/_pl.scss */
  .b-footer {
    height: 53px;
  }

  /* line 99, sass/_pl.scss */
  .b-footer_body p {
    margin: 17px auto 0;
  }

  /* line 103, sass/_pl.scss */
  .b-head_socials-wrapper {
    margin-right: 5.34%;
  }

  /* line 107, sass/_pl.scss */
  .i-menu {
    display: block;
    position: absolute;
    right: 41px;
    top: 48px;
  }

  /* line 114, sass/_pl.scss */
  .b-works_items {
    margin: 0 auto;
  }

  /* line 117, sass/_pl.scss */
  .items-grid.col-1 {
    width: 42.28%;
    margin: 0 3.86% 54px 3.86%;
  }

  /* line 122, sass/_pl.scss */
  .b1 {
    position: relative;
    float: right;
    right: 50%;
  }

  /* line 128, sass/_pl.scss */
  .b2 {
    position: relative;
    right: -50%;
  }

  /* line 133, sass/_pl.scss */
  .bl {
    width: 229px;
    height: 163px;
    display: inline-block;
  }

  /* line 139, sass/_pl.scss */
  .b-works_items-item_add {
    text-align: center;
  }
  /* line 141, sass/_pl.scss */
  .b-works_items-item_add a {
    background-position: center 55px;
    display: inline-block;
    width: 229px;
    height: 163px;
    padding-top: 96px;
  }

  /* line 150, sass/_pl.scss */
  .wrapper {
    margin: 0 auto -56px;
  }

  /* line 153, sass/_pl.scss */
  .footer-push {
    height: 56px;
  }

  /* line 157, sass/_pl.scss */
  .lock {
    left: 5%;
    top: 10px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 3, sass/_mob.scss */
  .b-head, .b-head_logo {
    height: 55px;
  }

  /* line 7, sass/_mob.scss */
  .b-head_logo {
    top: 13px;
    left: 4.38%;
    width: 136px;
    height: 33px;
  }

  /* line 14, sass/_mob.scss */
  .b-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1000;
    width: 100%;
  }
  /* line 21, sass/_mob.scss */
  .b-nav .b-contacts {
    display: none;
  }

  /* line 26, sass/_mob.scss */
  .b-head_socials {
    display: none;
  }

  /* line 30, sass/_mob.scss */
  .b-head_socials-wrapper {
    margin: 0 19px 0 0;
  }

  /* line 34, sass/_mob.scss */
  .i-menu {
    display: block;
    position: absolute;
    right: 19px;
    top: 18px;
  }

  /* line 41, sass/_mob.scss */
  .b-menu {
    background-color: #eff3f7;
    -webkit-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
    -moz-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
    box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, 0.35);
  }

  /* line 48, sass/_mob.scss */
  .b-menu_items-item {
    min-height: 41px;
  }
  /* line 50, sass/_mob.scss */
  .b-menu_items-item a {
    width: 100%;
    text-align: center;
    padding: 4px 0 4px 0;
  }
  /* line 55, sass/_mob.scss */
  .b-menu_items-item.active {
    height: 43px;
  }
  /* line 58, sass/_mob.scss */
  .b-menu_items-item.noactive {
    height: 41px;
  }

  /* line 63, sass/_mob.scss */
  .fs15 {
    font-size: inherit;
  }

  /* line 67, sass/_mob.scss */
  .container {
    width: 320px;
    margin-bottom: 41px;
  }

  /* line 72, sass/_mob.scss */
  .b-content, .b-main-info_portrait, .b-main-info_wrapper {
    float: none;
    padding: 0;
  }

  /* line 77, sass/_mob.scss */
  .b-main-info_wrapper {
    font-size: 20px;
  }

  /* line 81, sass/_mob.scss */
  .b-content {
    width: 295px;
    margin: 0 auto;
  }

  /* line 86, sass/_mob.scss */
  .b-main-info_portrait {
    text-align: center;
  }
  /* line 88, sass/_mob.scss */
  .b-main-info_portrait img {
    display: inline;
  }

  /* line 94, sass/_mob.scss */
  .b-main-info_info-item span {
    display: block;
    text-align: center;
    padding: 0 16px;
  }

  /* line 101, sass/_mob.scss */
  .b-main-info_title, .b-experience_title, .b-education_title, .b-works_title, .b-experience_title, .b-education_title, .b-education_title {
    font-size: 24px;
    border: 0;
    padding: 7px 0 0;
    text-align: center;
    width: auto;
  }

  /* line 109, sass/_mob.scss */
  .b-main-info_tags {
    text-align: center;
  }
  /* line 111, sass/_mob.scss */
  .b-main-info_tags > div {
    margin: 0 auto;
    float: none;
  }

  /* line 117, sass/_mob.scss */
  .b-experience-items, .b-education_items {
    padding: 0;
  }

  /* line 121, sass/_mob.scss */
  .b-experience-items-item, .b-education_items-item, .b-education_items-item {
    height: auto;
    margin-top: 30px;
  }

  /* line 126, sass/_mob.scss */
  .b-experience-items-item-desc, .b-education_items-item-desc, .b-education_items-item-desc {
    padding: 13px 16px 0;
  }
  /* line 128, sass/_mob.scss */
  .b-experience-items-item-desc h6, .b-education_items-item-desc h6, .b-education_items-item-desc h6 {
    height: auto;
  }

  /* line 134, sass/_mob.scss */
  .b-experience-items-item > div, .b-education_items-item > div {
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  /* line 139, sass/_mob.scss */
  .b-experience-items-item .ico, .b-education_items-item .ico {
    float: none;
  }

  /* line 144, sass/_mob.scss */
  .b-mob_contacts {
    display: block;
    margin-bottom: 20px;
  }
  /* line 147, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items {
    margin: 0;
  }
  /* line 150, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item {
    padding-left: 0;
  }
  /* line 152, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item a {
    text-decoration: none;
  }
  /* line 154, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item a:hover {
    text-decoration: underline;
  }
  /* line 158, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:first-child {
    font-size: inherit;
    background: #41b9d4;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 160, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:first-child .ico {
    background: url("img/emailico.png");
  }
  /* line 166, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:nth-child(2) {
    background: #48cbe8;
  }
  /* line 167, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:nth-child(2) .ico {
    background: url("img/phoneico.png");
  }
  /* line 172, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:last-child {
    background: #51daf8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 173, sass/_mob.scss */
  .b-mob_contacts .b-contacts_items-item:last-child .ico {
    background: url("img/skypeico.png");
  }

  /* line 182, sass/_mob.scss */
  .b-mob_socials {
    display: block;
    margin: 0 auto;
    height: 46px;
  }

  /* line 188, sass/_mob.scss */
  .split-line {
    height: 2px;
    background: url("/css/img/splitmob.png") repeat-y;
    background-size: 100%;
  }

  /* line 194, sass/_mob.scss */
  .items-grid.col-1 {
    width: 100%;
    margin-bottom: 32px;
  }

  /* line 199, sass/_mob.scss */
  .b1 {
    position: relative;
    float: right;
    right: 50%;
  }

  /* line 205, sass/_mob.scss */
  .b2 {
    position: relative;
    right: -50%;
  }

  /* line 210, sass/_mob.scss */
  .bl {
    width: 207px;
    height: 145px;
    display: inline-block;
  }

  /* line 216, sass/_mob.scss */
  .b-works_items-item_desc {
    margin: 0 auto;
    width: 207px;
  }

  /* line 221, sass/_mob.scss */
  .b-feedback_title {
    font-size: 19px;
    line-height: normal;
    height: 80px;
    padding-top: 20px;
  }

  /* line 228, sass/_mob.scss */
  .b-feedback_title-underline {
    height: 14px;
  }

  /* line 232, sass/_mob.scss */
  .b-feedback_items-item, .b-feedback_items-item-text {
    margin: 0;
  }
  /* line 234, sass/_mob.scss */
  .b-feedback_items-item label, .b-feedback_items-item-text label {
    width: 87.56%;
    margin: 0 auto;
    display: block;
  }
  /* line 240, sass/_mob.scss */
  .b-feedback_items-item .b-feedback_items-item_input, .b-feedback_items-item-text .b-feedback_items-item_input {
    width: 81.02%;
    margin: 0 auto;
  }

  /* line 246, sass/_mob.scss */
  .b-works_items-item_add {
    text-align: center;
  }
  /* line 248, sass/_mob.scss */
  .b-works_items-item_add a {
    width: auto;
  }

  /* line 253, sass/_mob.scss */
  .b-form-modal {
    width: 96.88%;
  }

  /* line 257, sass/_mob.scss */
  .b-form-modal_inputs-edit, .b-form-modal_fn-upload, .b-form-modal_inputs-ta {
    width: 86.77%;
  }

  /* line 261, sass/_mob.scss */
  .upload {
    width: 92.90%;
  }

  /* line 265, sass/_mob.scss */
  .b-form-modal_inputs-upload {
    width: 100%;
  }

  /* line 269, sass/_mob.scss */
  .b-form-modal_fn-upload {
    width: 75%;
  }

  /* line 273, sass/_mob.scss */
  .btn-upload {
    width: 18.06%;
  }

  /* line 277, sass/_mob.scss */
  .b-form-modal_btn-submit {
    width: 44.84%;
  }

  /* line 281, sass/_mob.scss */
  .b-success {
    width: 87.5%;
  }

  /* line 285, sass/_mob.scss */
  .left {
    float: none;
  }

  /* line 289, sass/_mob.scss */
  .feedback-header {
    margin-bottom: 10px;
  }

  /* line 293, sass/_mob.scss */
  .b-feedback_items {
    width: 100%;
  }

  /* line 297, sass/_mob.scss */
  .b-feedback_items-item {
    margin-bottom: 20px;
  }

  /* line 301, sass/_mob.scss */
  .b-captcha {
    margin: 0 auto;
    width: 87.80%;
  }
  /* line 304, sass/_mob.scss */
  .b-captcha label {
    display: inline-block;
    font-size: 15px;
  }
  /* line 308, sass/_mob.scss */
  .b-captcha .b-feedback_items-item {
    float: left;
  }
  /* line 310, sass/_mob.scss */
  .b-captcha .b-feedback_items-item.captcha {
    width: 45%;
    height: 71px;
    margin-right: 3.73%;
  }
  /* line 314, sass/_mob.scss */
  .b-captcha .b-feedback_items-item.captcha img {
    width: 100%;
    height: 71px;
  }
  /* line 319, sass/_mob.scss */
  .b-captcha .b-feedback_items-item.confirm {
    margin-left: 3.73%;
    width: 45%;
  }
  /* line 322, sass/_mob.scss */
  .b-captcha .b-feedback_items-item.confirm .b-feedback_items-item_input {
    width: 86%;
  }

  /* line 329, sass/_mob.scss */
  .b-feedback_items-buttons {
    width: 81.02%;
    margin: 0 auto;
  }
  /* line 332, sass/_mob.scss */
  .b-feedback_items-buttons .left {
    float: left;
  }
  /* line 335, sass/_mob.scss */
  .b-feedback_items-buttons .b-feedback_items-buttons-clear, .b-feedback_items-buttons .b-feedback_items-buttons-submit {
    width: 105px;
  }

  /* line 340, sass/_mob.scss */
  .wrapper {
    margin: 0 auto -35px;
  }

  /* line 344, sass/_mob.scss */
  .footer-push {
    height: 35px;
  }

  /* line 348, sass/_mob.scss */
  .b-admin {
    width: 92.19%;
    height: 284px;
  }

  /* line 353, sass/_mob.scss */
  .b-admin_title {
    height: 54px;
    font-size: 24px;
    line-height: 54px;
  }

  /* line 359, sass/_mob.scss */
  .b-admin_title-underline {
    height: 9px;
  }

  /* line 363, sass/_mob.scss */
  .b-admin_items {
    width: 84.75%;
    margin-top: 6px;
    margin-bottom: 0;
  }

  /* line 370, sass/_mob.scss */
  .b-admin_items-item label {
    margin-top: 5px;
    font-size: 21px;
  }

  /* line 376, sass/_mob.scss */
  .b-admin_items-item_input {
    width: 92%;
    height: 35px;
  }

  /* line 381, sass/_mob.scss */
  .b-admin_submit {
    width: 45.08%;
    height: 29px;
    font-size: 21px;
    line-height: 29px;
    margin-top: 18px;
  }

  /* line 389, sass/_mob.scss */
  .b-tooltip_text {
    font-size: 9px;
    padding-left: 4px;
    padding-right: 4px;
  }

  /* line 396, sass/_mob.scss */
  .b-feedback .error_msg {
    width: 90%;
  }

  /* line 401, sass/_mob.scss */
  .nav-footer {
    margin-bottom: 20px;
  }

  /* line 405, sass/_mob.scss */
  .b-footer {
    height: 35px;
  }

  /* line 410, sass/_mob.scss */
  .b-footer_body p {
    margin: 0 auto;
  }

  /* line 415, sass/_mob.scss */
  .lock {
    display: none;
  }
}
