$block_bg_color: #eff3f7;
html, body {
  height: 100%;
}

ul {
  list-style: none;
}

h1 {
  font-family: fira_sansbook;
  font-size: 27px;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

$tooltip_color: #f97e76;

.error {
  background: #fad2d1 !important;
  border-color: $tooltip_color !important;
}

.relative {
  position: relative;
}

.wrapper {
  background: url(img/comppattern2.png);
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.i-menu {
  display: none;
  background: url("img/menuico.png");
  width: 25px;
  height: 21px;
  cursor: pointer;
}

@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin b-tooltip {
  position: fixed;
}

@mixin b-tooltip_text {
  float: left;
  background: $tooltip_color;
  color: white;
  padding: 2px 15px;
  font-family: fira_sansbook;
  font-size: 13px;
  text-align: center;
  @include border-radius(4px);
}

@mixin b-tooltip_arrow_right {
  float: left;
  margin-top: 7px;
  .arrow {
    border-left-color: $tooltip_color;
    border-width: 5px 0 5px 7px;
  }
}

.arrow {
  border-color: transparent;
  border-style: solid;
}

@mixin b-tooltip_arrow_left {
  float: left;
  margin-top: 7px;
  .arrow {
    border-right-color: $tooltip_color;
    border-width: 5px 7px 5px 0;
  }
}

@mixin b-tooltip_arrow_down {
  margin: 0 auto;
  width: 14px;
  .arrow {
    float: left;
    border-top-color: $tooltip_color;
    border-width: 7px 5px 0 5px;
  }
}

@mixin b-arrow_up($clr) {
  float: left;
  .arrow {
//    float: left;
    border-bottom-color: $clr;
    border-width: 0 15px 14px 14px;
  }
}

.b-tooltip {
  display: inline;
  @include b-tooltip;
  right: 10px;
  z-index: 20000;
}

.b-tooltip_arrow_l {
  @include b-tooltip_arrow_left;
}

.b-tooltip_arrow_r {
  @include b-tooltip_arrow_right;
}

.b-tooltip_arrow_d {
  @include b-tooltip_arrow_down;
}

.b-tooltip_text {
  @include b-tooltip_text;
}

@mixin element-input {
  display: block;
  @include border-radius(4px);
  border: 1px solid #48cbe8;
  color: #48cbe8;
  font-family: fira_sanslight;
  font-size: 13px;
  padding-left: 9px;
  padding-right: 9px;
}

@mixin btn {
  box-sizing: border-box;
//  padding-top: 3px;
  @include border-radius(4px);
  border: none;
  color: white;
  font-family: fira_sansbook;
  font-size: 19px;
  margin: 10px auto 0;
  display: block;
}

@mixin btn-default {
  background: #48cbe8;
  //  box-shadow: 0 2px 0 0 #3ba8c0;
  border-bottom: 2px solid #3ba8c0;
  border-top: 2px solid #48cbe8;
  &:active {
    border-top: 2px solid #3ba8c0 !important;
  }
  &:hover {
    border-color: #48cbe8;
  }

}

@mixin block {
  background: $block_bg_color;
  @include border-radius(4px);
  padding-bottom: 17px;
  &:after {
    display: block;
    clear: both;
    content: ' ';
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

@mixin error_msg {
  margin: 15px auto;
  padding: 9px;
  border: 1px solid $tooltip_color;
  color: $tooltip_color;
  font-family: fira_sansbook;
  @include border-radius(4px);
  h1 {
    //    font-family: fira_sansbook;
    font-size: 25px;
    padding: 0;
    margin: 0;
  }
  p {
    //    font-family: fira_sansbook;
    font-size: 15px;
    margin: 0;
  }
}