.b-feedback {
  @include block;
  .error_msg {
    width: 402px;
    @include error_msg;
  }
}

.b-feedback_title {
  display: block;
  background: #48cbe8;
  font-family: fira_sansbook;
  font-weight: normal;
  font-size: 27px;
  color: white;
  padding: 0;
  width: 100%;
  //  height: 74px;
  height: 121px;
  line-height: 121px;
  //  padding-top: 47px;
  @include border-radius(4px 4px 0 0);
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.b-feedback_title-underline {
  height: 17px;
  background: #67dffa;
}

.b-feedback_items {
  width: 402px;
  margin: 45px auto;
  label {
    color: #959aa8;
    font-family: fira_sanslight;
    font-size: 17px;
  }
  .row {
    margin-top: 12px;
  }
  .row:first-child {
    margin-top: 33px;
  }
}

.b-feedback_items-item {
  margin-left: 18px;
  .row &:first-child {
    margin-left: 0;
  }
}

.b-feedback_items-item_input {
  @include element-input;
  width: 172px;
  height: 37px;
}

.b-feedback_items-item-text {
  .b-feedback_items-item_input {
    width: 383px;
    height: 178px;
  }
}

.b-feedback_items-item.captcha {
  @include element-input;
  width: 189px;
  height: 77px;
  padding: 0;

  img {
    display: block;
    width: 189px;
    height: 77px;
    @include border-radius(4px);
  }
}

.b-feedback_items-item.confirm {
  height: 77px;
  position: relative;
  .b-feedback_items-item_input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 172px;
    height: 30px;
  }
}

.b-feedback_items-buttons-submit {
  @include btn;
  @include btn-default;

  width: 139px;
  height: 31px;
  margin: 0;

}

.b-feedback_items-buttons-clear {
  @include btn;
  margin: 0;
  width: 139px;
  height: 31px;

  background: #849db5;
  border-bottom: 2px solid #687b8f;
  border-top: 2px solid #849db5;
  &:active {
    border-top: 2px solid #687b8f !important;
  }
  &:hover {
    border-color: #849db5;
  }
}

.b-feedback {
  position: relative;
}

.page-feedback {
  .b-tooltip {
    position: absolute;
  }
}