@media only screen and (min-width: 321px) and (max-width: 960px) {
  .b-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 90px;
    z-index: 1000;
    .b-contacts {
      display: none;
    }
  }

  .nav-block_arrow_up {
    position: absolute;
    @include b-arrow_up(#3ba8c0);
    right: 42px;
    top: -15px;
  }

  .b-menu {
    background-color: #fbfcfd;
    -webkit-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, .35);
    -moz-box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, .35);
    box-shadow: 1px 3px 8px 1px rgba(13, 16, 7, .35);
  }

  .container {
    width: 768px;
  }

  .b-content {
    width: 700px;
    margin: 0 auto;
    float: none;
  }

  .b-mob_contacts {
    display: block;
    margin: 28px 0 31px 0;
    height: 46px;
  }

  .b-contacts_items {
    margin: 0;
  }

  .b-contacts_items-item {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 3px 0;

    a {
      text-decoration: none;
    }
    &:first-child {
      font-size: inherit;
      .ico {
        background: url('img/emailico.png');
      }
      background: #41b9d4;
      @include border-radius(0);
    }
    &:nth-child(2) {
      .ico {
        background: url('img/phoneico.png');
      }
      background: #48cbe8;
    }
    &:last-child {
      .ico {
        background: url('img/skypeico.png');
      }
      background: #51daf8;
      @include border-radius(0);
    }
  }

  .split-line {
    height: 2px;
  }

  .b-footer {
    margin-top: 28px;
  }

  .b-footer_body {
    height: 53px;
  }

  .b-footer_body p {
    margin: 17px auto 0;
  }

  .b-head_socials-wrapper {
    margin-right: 5.34%;
  }

  .i-menu {
    display: block;
    margin-left: 58px;
    margin-top: 12px;
  }

  .b-works_items {
    margin: 0 auto;
  }
  .items-grid.col-1 {
    width: 42.28%;
    margin: 0 3.86% 54px 3.86%;
  }

  .b1 {
    position: relative;
    float: right;
    right: 50%;
  }

  .b2 {
    position: relative;
    right: -50%;
  }

  .bl {
    width: 229px; //220px;
    height: 163px; //220px;
    display: inline-block;
  }

  .b-works_items-item_add {
    text-align: center;
    a {
      background-position: center 55px;
      display: inline-block;
      width: 229px;
      height: 163px;
      padding-top: 96px;
    }
  }

  .wrapper {
    margin: 0 auto -56px;
  }
  .footer-push {
    height: 2px;
  }
}