.b-works {
  @include block;
  padding: 0;
}

.items-grid {
  float: left;
}

.row {
  margin-bottom: 25px;
}

.row::after {
  display: block;
  content: ' ';
  height: 0;
  visibility: hidden;
  clear: both;
}

//@for $i from 1 through 3 {
//  .items-grid.col-#{$i} {
//    width: 28.67% * $i;
//    margin: 0 2.33% 54px 2.33%;
//  }
//}

.items-grid.col-1 {
  width: 28.67%;
  margin: 0 2.33% 54px 2.33%;
}

.b-works_title {
  @extend .b-main-info_title;
  width: 182px;
  margin-bottom: 34px;
}

.b-works_items {
  padding: 0 5px 0 5px;
}

.b-works_items-item {
  img {
    display: block;
    border: 3px solid #3ba8c0;
    width: 181px;
    height: 127px;
    @include border-radius(4px);
  }
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: fira_sanslight;
}

.b-works_items-item_url {
  //  margin-top: 12px;
  display: block;
  text-decoration: none;
  font-size: 13px;
  color: #3ba8c0;
}

.b-works_items-item_desc {
  height: 33px;
  font-size: 15px;
  color: #4a545d;
  overflow: hidden;
  line-height: 15px;
}

.b-works_items-item_add {
  a {
    display: block;
    width: 186px;
    height: 134px;
    background: url("img/workico.png") no-repeat;
    background-position: center 34px;
    text-align: center;
    font-family: fira_sanslight;
    font-size: 13px;
    border: 1px dashed #3ba8c0;
    color: #3ba8c0;
    @include border-radius(4px);
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    padding-top: 76px;
  }
}

// Модальное окно

$modal_form_err_width: 362px;
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(88, 105, 122, 0.75);
  z-index: 10000;
  display: none;
}

.modal.add_project {
  .vertical-align {
    width: $modal_form_err_width;
    margin: 0 auto;
  }
}

.b-form-modal {
  width: $modal_form_err_width;
  height: 483px;
  @include border-radius(4px/7px);
  background-color: #eff3f7;
  -webkit-box-shadow: 0 6px 12px 1px rgba(13, 16, 7, .35);
  -moz-box-shadow: 0 6px 12px 1px rgba(13, 16, 7, .35);
  box-shadow: 0 6px 12px 1px rgba(13, 16, 7, .35);
  label {
    padding-left: 21px;
    display: block;
    font-family: fira_sansbook;
    font-size: 17px;
    color: #959aa8;
  }
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal:target {
  display: block;
}

.b-form-modal_btn-close {
  display: block;
  height: 25px;
  width: 25px;
  background: url('img/closeico.png');
  position: absolute;
  right: 12px;
  top: 10px;
}

.b-form-modal_title {
  font-family: fira_sansregular;
  font-size: 25px;
  color: white;
  padding: 6px 0 7px 12px;
  height: 31px;
  background: #48cbe8;
  @include border-radius(4px 4px 0 0);
}

.b-form-modal_title-underline {
  height: 9px;
  background: #67dffa;
}

.b-form-modal_inputs-input-group {
  margin-top: 8px;
}

$b-form-modal_input_width: 300px;

.b-form-modal_inputs-edit {
  @include element-input;
  margin: 0 auto;
  width: $b-form-modal_input_width;
  height: 37px;
  line-height: 39px;
}

.b-form-modal_inputs-ta {
  @include element-input;
  margin: 0 auto;
  width: $b-form-modal_input_width;
  height: 91px;
  padding: 13px 9px 5px 9px;
}

.upload {
  margin: 0 auto;
  width: $b-form-modal_input_width + 20;
  height: 41px;
  position: relative;
}

.b-form-modal_fn-upload {
  @extend .b-form-modal_inputs-edit;
  float: left;
  width: $b-form-modal_input_width - 51;
  @include border-radius(4px 0 0 4px);
  border-right: none;
  padding-top: 1px;
  padding-bottom: 1px;
  background: white;
}

.btn-upload {
  height: 41px;
  width: 52px;
  border: none;
  background: url("img/downloadico.png");
  float: left;
  display: block;
}

.b-form-modal_inputs-upload {
  cursor: pointer;
  height: 37px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: $b-form-modal_input_width + 14px;
}

.b-form-modal_btn-submit {
  @include btn;
  @include btn-default;

  width: 139px;
  height: 33px;
}

.modal.sc {
  .vertical-align {
    width: 349px;
    margin: 0 auto;
    background: red;
  }
}

.b-success {
  padding: 15px;
  background: white;
  width: 349px;
  height: 61px;
  @include border-radius(4px);

  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.b-success_content {
  @include border-radius(4px);

  border: 1px solid #49bb7b;
  background: #b8e1ce;
  font-family: fira_sansbook;
  color: #49bb7b;
  //    width: 317px;
  //      height: 59px;
  padding: 8px;
  position: relative;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    line-height: 28px;
  }
  p {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
  }
  img {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.ch-img {
  background-size: cover;
}