@font-face {
    font-family: 'proximacond_semibold';
    src: url('proximanovacond-semibold.eot');
    src: url('proximanovacond-semibold.eot?#iefix') format('embedded-opentype'),
}
@font-face {
    font-family: 'proximacond_semibold';
    src: url('ProximaNovaCond-Semibold.otf') format("opentype"),
            url('proximanovacond-semibold.woff') format('woff'),
            url('proximanovacond-semibold.ttf') format('truetype'),
            url('proximanovacond-semibold.svg#proximacond_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}